name: CI - lint, test, build & sec scan
on: #which events trigger the actions
  pull_request:
    branches: [ main ]
  push:
    branches: [ pod-on-demand ]
  workflow_dispatch: #manually by user-request button in Actions tab

env: #env var declaration
  DOCKER_BUILDKIT: 1

jobs:
  docker-kube-file-lint: #job ID
    name: Docker and Kube file lint #job name
    runs-on: ubuntu-latest #which OS will run on
    strategy: #var declaration for multi job run
      matrix:
        docker-path: ["rpslk-game/backend/Dockerfile", "rpslk-game/frontend/Dockerfile", "vending-machine/backend/Dockerfile", "vending-machine/frontend/Dockerfile"]
        kube-path: ["rpslk-game", "vending-machine"]
    steps:
      - name: Checkout #checks out the repo to make it available for current workflow
        uses: actions/checkout@v6.0.0

      - name: Run hadolint on ${{ matrix.docker-path }} #hadolint analises dockerfiles to ensure it follows best practices and guidelines
        uses: hadolint/hadolint-action@v3.3.0
        with: #input parameters defined by action
          dockerfile: ${{ matrix.docker-path }} #usage of matrix variable previously set in strategy section
          failure-threshold: error #if error is found, stops wf

      - name: Run kube-linter on ${{ matrix.kube-path }} #kube-linter analises kubernetes files
        uses: stackrox/kube-linter-action@v1.0.7
        with:
          directory: ${{ matrix.kube-path }}
          fail-on-invalid-resource: true #if invalid, stops wf

  test-and-build:
    name: Tests, build images and scan
    runs-on: ubuntu-latest
    needs: docker-kube-file-lint #this job depends on the correct end of stated job
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Set up QEMU #needed to execute next action, buildx
        uses: docker/setup-qemu-action@v3.7.0

      - name: Set up Docker buildx #creates and boots a docker builder to use through the workflow
        uses: docker/setup-buildx-action@v3.11.1

      - name: Cache pip (backend) #cache action to save time in future executions, saves python dependencies
        uses: actions/cache@v4.3.0
        with:
          path: ~/.cache/pip #where to store cached data
          key: pip-${{ runner.os }}-${{ hashFiles('**/requirements.txt') }} #key to store and lookup a cache blob, e.g. pip-Linux-3a7f9b2c...
          restore-keys: |
            pip-${{ runner.os }}- 
          #if no exact match with previous key, try restore any OS matching cache

      - name: Backend tests (rpslk-game) #shell step
        working-directory: rpslk-game/backend #checks for requirements.txt, upgrades pip and installs them. if tests are present, runs them
        run: | 
          if [ -f requirements.txt ]; then 
            python -m pip install --upgrade pip
            python -m pip install -r requirements.txt
          fi

      - name: Backend tests (vending-machine)
        working-directory: vending-machine/backend
        run: |
          if [ -f requirements.txt ]; then
            python -m pip install --upgrade pip
            python -m pip install -r requirements.txt
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build images (load into runner - pushing) #builds docker image with parameters
        uses: docker/build-push-action@v6.18.0
        with:
          context: rpslk-game/backend
          file: rpslk-game/backend/Dockerfile
          push: true #push to Docker Hub repo
          load: true #loads image to use for workflow
          tags: sparki0yml/bgvm-rpslk-backend:latest,sparki0yml/bgvm-rpslk-backend:${{ github.run_id }} #tags the image with current running id

      - name: Build rpslk-game frontend image (load)
        uses: docker/build-push-action@v6.18.0
        with:
          context: rpslk-game/frontend
          file: rpslk-game/frontend/Dockerfile
          push: true
          load: true
          tags: sparki0yml/bgvm-rpslk-frontend:latest,sparki0yml/bgvm-rpslk-frontend:${{ github.run_id }}

      - name: Build vending-machine backend image (load)
        uses: docker/build-push-action@v6.18.0
        with:
          context: vending-machine/backend
          file: vending-machine/backend/Dockerfile
          push: true
          load: true
          tags: sparki0yml/bgvm-vm-backend:latest,sparki0yml/bgvm-vm-backend:${{ github.run_id }}

      - name: Build vending-machine frontend image (load)
        uses: docker/build-push-action@v6.18.0
        with:
          context: vending-machine/frontend
          file: vending-machine/frontend/Dockerfile
          push: true
          load: true
          tags: sparki0yml/bgvm-vm-frontend:latest,sparki0yml/bgvm-vm-frontend:${{ github.run_id }}

      - name: Trivy - scan rpslk-game backend image #scans docker image for security vulnerabilities 
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: sparki0yml/bgvm-rpslk-backend:ci-${{ github.run_id }}
          format: 'table' #format output as table
          severity: 'CRITICAL,HIGH,MEDIUM' #scan only CRITICAL, HIGH, MED vuln
          exit-code: '1' # fail the job on vulnerabilities
          # Trivy caches DB by default to speed up subsequent runs.

      - name: Trivy - scan rpslk-game frontend image
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: sparki0yml/bgvm-rpslk-frontend:ci-${{ github.run_id }}
          format: 'table'
          severity: 'CRITICAL,HIGH,MEDIUM'
          exit-code: '1'

      - name: Trivy - scan vending-machine backend image
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: sparki0yml/bgvm-vm-backend:ci-${{ github.run_id }}
          format: 'table'
          severity: 'CRITICAL,HIGH,MEDIUM'
          exit-code: '1'

      - name: Trivy - scan vending-machine frontend image
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: sparki0yml/bgvm-vm-frontend:ci-${{ github.run_id }}
          format: 'table'
          severity: 'CRITICAL,HIGH,MEDIUM'
          exit-code: '1'
